# **Module 21: Deep Learning - Alphabet Soup**
##  AlphabetSoupCharity_Optimization

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pandas as pd
import tensorflow as tf

# Read the charity_data.csv.

#GitHub link to the CSV file
url = 'https://raw.githubusercontent.com/WayBurke/deep-learning-challenge/main/Resources/charity_data.csv'

application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df= application_df.drop(['EIN','NAME'],axis =1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning

app_type_valueCount = application_df['APPLICATION_TYPE'].value_counts()
app_type_valueCount

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(app_type_valueCount[app_type_valueCount < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")


# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning

classification_list = application_df['CLASSIFICATION'].value_counts()
classification_list

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_list[classification_list>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# OPTIMIZATION ATTEMPT: Increasing the list of Classifications

classifications_to_replace = list(classification_list[classification_list <300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
# One-hot encoding the entire dataframe

application_dummies = pd.get_dummies(application_df)
application_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_dummies.IS_SUCCESSFUL.values
X = application_dummies.drop(columns="IS_SUCCESSFUL").values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# OPTIMIZATION ATTEMPT: TO OPTIMIZE THIS MODEL, ADDING AN ADDITIONAL HIDDEN LAYER
# WITH SECOND AND THIRD LAYER HAVING ACTIVATION - RELU
#===========================================================

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4500

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 20)                820

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 9,381
Trainable params: 9,381
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
import os
#Create for folder callbacks
os.makedirs('optimized_models/', exist_ok=True)

#File Path for checkpoint/callbacks
chk_point_path = "optimized_models/weights-improvement_epoch{epoch:2d}.hdf5"

#Creating/Defining the Callback


save_callback = tf.keras.callbacks.ModelCheckpoint(
    chk_point_path,
    save_weights_only=True, 
    monitor ='val_accuracy',
    mode ='max',
    save_freq='epoch',
    period=50
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [16]:
# OPTIMIZATION ATTEMPT: Increased the number of epochs to 200
# Train the model

fit_model = nn.fit(X_train_scaled, y_train, epochs=200, callbacks=[save_callback])

Epoch 1/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5676 - accuracy: 0.7249
Epoch 2/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7306
Epoch 3/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7320
Epoch 4/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7313
Epoch 5/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7336
Epoch 6/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7322
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7341
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7337
Epoch 9/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7341
Epoch 10/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7354
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7357
Epoch 12/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7368
Epoch 14/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 15/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 16/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7354
Epoch 17/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7378
Epoch 18/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7372
Epoch 19/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7378
Epoch 20/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7380
Epoch 21/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7376
Epoch 22/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5407 - accuracy: 0.7390
Epoch 23/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 24/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7380
Epoch 25/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7383
Epoch 26/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7380
Epoch 27/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7380
Epoch 28/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7395
Epoch 29/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7387
Epoch 30/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7386
Epoch 31/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7395
Epoch 32/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7393
Epoch 33/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7393
Epoch 34/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7401
Epoch 35/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 36/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7390
Epoch 37/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7402
Epoch 38/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7403
Epoch 39/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7399
Epoch 40/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7399
Epoch 41/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7399
Epoch 42/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 43/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7400
Epoch 44/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 45/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7395
Epoch 46/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 47/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7402
Epoch 48/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7397
Epoch 49/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7398
Epoch 50/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7407
Epoch 51/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7402
Epoch 52/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7406
Epoch 53/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7406
Epoch 54/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 55/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 56/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7411
Epoch 57/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7406
Epoch 58/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7408
Epoch 59/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7409
Epoch 60/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7405
Epoch 61/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7409
Epoch 62/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7406
Epoch 63/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 64/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 65/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7407
Epoch 66/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7413
Epoch 67/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 68/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7407
Epoch 69/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7403
Epoch 70/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7413
Epoch 71/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 72/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 73/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 74/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 75/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7409
Epoch 76/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 77/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 78/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 79/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7403
Epoch 80/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7413
Epoch 81/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7416
Epoch 82/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 83/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7411
Epoch 84/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 85/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7419
Epoch 86/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7411
Epoch 88/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7415
Epoch 89/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7411
Epoch 90/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7409
Epoch 91/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7412
Epoch 92/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7412
Epoch 93/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 94/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7419
Epoch 95/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7412
Epoch 96/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7412
Epoch 97/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7414
Epoch 98/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7415
Epoch 99/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 100/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7411
Epoch 101/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7418
Epoch 102/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 103/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 104/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7405
Epoch 105/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7408
Epoch 106/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7414
Epoch 107/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7414
Epoch 108/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7416
Epoch 109/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7414
Epoch 110/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7416
Epoch 111/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7413
Epoch 112/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7414
Epoch 113/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7418
Epoch 114/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7408
Epoch 115/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7417
Epoch 116/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7418
Epoch 117/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 118/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7416
Epoch 119/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7414
Epoch 120/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7412
Epoch 121/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7414
Epoch 122/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7418
Epoch 123/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7417
Epoch 124/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 125/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5333 - accuracy: 0.7414
Epoch 126/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 127/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 128/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7414
Epoch 129/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 130/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7416
Epoch 131/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7415
Epoch 132/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7415
Epoch 133/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 134/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7416
Epoch 135/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 136/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 137/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7413
Epoch 138/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 139/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 140/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 141/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 142/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 143/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7419
Epoch 144/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7413
Epoch 145/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7417
Epoch 146/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7414
Epoch 147/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7419
Epoch 148/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7421
Epoch 149/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 150/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7416
Epoch 151/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 152/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7412
Epoch 153/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7417
Epoch 154/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7419
Epoch 155/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7418
Epoch 156/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7420
Epoch 157/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 158/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7422
Epoch 159/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7420
Epoch 160/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 161/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7423
Epoch 162/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7420
Epoch 163/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7423
Epoch 164/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 165/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7422
Epoch 166/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7418
Epoch 167/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7415
Epoch 168/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7417
Epoch 169/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7421
Epoch 170/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7417
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 172/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7413
Epoch 173/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7420
Epoch 174/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7419
Epoch 175/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7423
Epoch 176/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7423
Epoch 178/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7417
Epoch 179/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7420
Epoch 180/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7416
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 182/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 183/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7422
Epoch 184/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7421
Epoch 185/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 186/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7418
Epoch 187/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7412
Epoch 188/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7423
Epoch 189/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7422
Epoch 190/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7423
Epoch 191/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7418
Epoch 192/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7416
Epoch 193/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7419
Epoch 194/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7420
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7417
Epoch 196/200

In [17]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5740 - accuracy: 0.7245 - 537ms/epoch - 2ms/step
Loss: 0.5740084648132324, Accuracy: 0.7245481014251709

In [18]:
# Export our model to HDF5 file

#Create for folder final Model
os.makedirs('h5_models/', exist_ok=True)

nn.save('h5_models/AlphabetSoupCharity_Optimization.h5')